<p id="notice"><%= notice %></p>

<%= react_component 'CharacterTemplatesIndex', { jsonUrl: url_for(action: 'sort'), user_id: @user_id_filter } %>

<%= link_to 'New Character Template', new_character_template_path %>
